{% extends 'medewerker.html.twig' %}
{% block title %}Edit Soortactiviteiten{% endblock %}
{% block menu %}
    <li ><a href="{{ path('activiteitenoverzicht') }}">home</a></li>
    <li class="active"><a href="{{ path('soortactiviteiten_new') }}">soort activiteiten</a></li>
    <li><a href="{{ path('beheer') }}">beheer</a></li>
{% endblock %}
{% block content %}
    <h1>Edit Soortactiviteiten</h1>

    {{ include('soortactiviteiten/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('soortactiviteiten_index') }}">back to list</a>

    {{ include('soortactiviteiten/_delete_form.html.twig') }}
{% endblock %}
